<main>
    <h2 class ="goback">{{goback}}</h2>
    <h1 class="title">{{{title}}}</h1>
    <p class="description">{{description}}</p>

    <img class="canvas" src="{{img}}" alt="">
    <a class="link" href="/signed">Check out all the other people who also signed</a>
    <a class="link" href="/profile/edit">Edit your profiles</a>
    <a class="link" href="/delete">Delete your signature</a>
</main>
