<main>
    <h2 class ="goback">{{goback}}</h2>
    <h1 class="title">{{{title}}}</h1>
    <p class="description">{{description}}</p>
    <div class="planet-form">
        <div class="container">
            <div class="planet-image"></div>
        </div>
        <form class="reg-nav" method="post" action="/register">
            <input class="right-input" type="hidden" name="_csrf" value="{{csrfToken}}">
            <input class="right-input" type="text" name="first" placeholder="FIRST NAME" required>
            <input class="right-input" type="text" name="last" placeholder="LAST NAME" required>
            <input class="right-input" type="email" name="email" placeholder="EMAIL" required>
            <input class="right-input" type="password" name="password" placeholder="PASSWORD" required>
            <button class="right-input" type="submit" value="Submit">Submit</button>
            <p class="description">Already a user? <a href="/login">log in</a>
        </form>

    </div>
</main>
